body {
    background: grey;
}
p {
    color: darkslategrey;
}
h1 {
    color: darkslategrey;
    text-decoration: underline;
}
h2 {
    color: darkslategrey;
    text-decoration: underline;
}
img {
    border-radius: -10px 10px;
    border: orange;
    height: 100px;
    width: 100px;
}